.btn-buy-item:hover {
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.btn-buy-item {
    width: 70%;
    background-color: #2f7484;
    border-color: #2f7484;
}

/*.main-body-container {*/
/*    background: #E5E5E5;*/
/*}*/

.card-item :hover {
    background-color: #fff;
    border-radius: 4px;
}
.card-item {
    width: 350px;
    height: 500px;
}
