body {
    font-family: Arial, serif;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/*rating*/
.rating-mini {
    display: inline-block;
    font-size: 0;
}

.rating-mini span {
    padding: 0;
    font-size: 20px;
    line-height: 1;
    color: lightgrey;
}

.rating-mini > span:before {
    content: '★';
}

.rating-mini > span.active {
    color: #2f7484;
}

/*counter*/
.amount {
    /*width:200px;*/
    margin-bottom: 20px;
}

.down {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #ededed;
    cursor: pointer;
    text-align: center;
}

.down:hover {
    background: #dfdfdf;
}

.up {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: white;
    background: #2f7484;
    cursor: pointer;
    text-align: center;
}

.up:hover {
    background: #59b6cb;
}

.minus {
    background: none!important;
}

.minus:hover {
    background: #dbdbdb!important;
}

.plus {
    color: #000000!important;
    background: none!important;
}

.plus:hover {
    color: white!important;
    background: #2f7484!important;
}

.cartName {
    margin-bottom: 30px;
}

.amount input {
    width: 30px;
    text-align: center;
}

/*button*/
.btn-myBuy {
    margin-right: 30px;
    border-radius: 50rem;
    height: 48px;
    width: 180px;
    background-color: #2f7484;
    color: white;
    border-color: transparent;
}

.btn-myBuy:hover {
    background: #59b6cb;
    border-color: transparent;
}

.btn-myCall {
    border-radius: 50rem;
    height: 48px;
    width: 246px;
    background-color: #e2e9e9;
    border-color: transparent;
}

.btn-myCall:hover {
    background: #bcc1c1;
    border-color: transparent;
}

.add_click {
    padding-left: 25px;
    font-size: 11px
}

div.verticalscroll {
    height: 40em;
    overflow: auto;
    overflow-y: scroll;
}

.colorInput {
    background-color: #F7F7F7 !important;
}
